<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.template.mapper.ProductMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.project.template.entity.Product">
                <result column="id" property="id" />
                    <result column="pname" property="pname" />
                    <result column="typeid" property="typeid" />
                    <result column="tprice" property="tprice" />
                    <result column="tintroduce" property="tintroduce" />
                    <result column="pimageurl" property="pimageurl" />
        </resultMap>

</mapper>
